<div class="dialog-container bg-white">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <h3 mat-dialog-title class="mat-headline-small">{{ data.title }}</h3>
  <mat-dialog-content>
    <p class="mat-body-medium">
      {{ data.description }}
    </p>
    <div *ngIf="this.data.showInputField" class="input-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>{{ this.data.label }}</mat-label>
        <input
          matInput
          [(ngModel)]="inputValue"
          placeholder="{{ this.data.placeholder }}"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCloseClick()" [disabled]="isLoading">
      {{ data.cancelBtnText }}
    </button>
    <button
      mat-flat-button
      (click)="onOkClick()"
      [disabled]="isLoading || (data.showInputField && inputValue === '')"
      cdkFocusInitial
    >
      {{ data.okBtnText }}
    </button>
  </mat-dialog-actions>
</div>
