<div class="time-counter-wrapper">
  <div class="count-section">
    <div>
      <mat-icon class="icon-color-outline">schedule</mat-icon>
      <p class="count">00:10:00</p>
    </div>
    <h3 class="mat-body-medium">
      This page will expire due to inactivity. Any unsaved changes will be lost.
    </h3>
  </div>
  <div class="action-section">
    <div>
      <button mat-button [disabled]="disabledSaveProgress || loadingState">
        Save Progress
      </button>
      <button
        mat-flat-button
        (click)="buttonAction()"
        [disabled]="loadingState"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
