<mat-toolbar class="toolbar">
  <div class="left-panel">
    <button
      mat-icon-button
      color="primary"
      aria-label="icon button with a menu icon"
      class="menu-btn"
      (click)="openNav()"
      *ngIf="!isNavOpen"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      aria-label="icon button with a menu icon"
      class="menu-btn"
      (click)="closeNav()"
      *ngIf="isNavOpen"
    >
      <mat-icon *ngIf="isNavOpen">menu_open</mat-icon>
    </button>
    <a [routerLink]="['/']" class="logo-wrapper">
      <img src="/images/logo.svg" alt="logo" loading="lazy" />
    </a>
  </div>
  <div class="right-panel">
    <mat-progress-bar
      mode="indeterminate"
      style="position: absolute; top: 0px; left: 0px"
      *ngIf="loading"
    ></mat-progress-bar>
    <div class="config-container">
      <mat-icon
        mat-icon-button
        matBadge="8"
        matBadgeColor="primary"
        matBadgeSize="large"
        aria-hidden="false"
        >notifications_none</mat-icon
      >

      <div class="user-info-wrapper">
        <div class="btn-wrapper" [matMenuTriggerFor]="menu">
          <button mat-fab>AT</button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Setting</span>
          </button>
          <button mat-menu-item (click)="handleLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="main">
  <nav>
    <ul>
      <li *ngFor="let option of menuItems">
        <a
          (mouseenter)="
            option.submenu.length > 0
              ? onMouseEnter(option.name)
              : onMouseLeave()
          "
          (click)="onClickMenu(option.name)"
          [ngClass]="currentPath[0] === option.name ? 'active' : ''"
          [routerLink]="[option.path]"
        >
          <div class="icon-wrapper">
            <img src="{{ option.icon }}" alt="logo" loading="lazy" />
          </div>
          <p class="mat-title-small">{{ option.title }}</p>
        </a>
      </li>
    </ul>
  </nav>
  <div>
    <mat-drawer-container class="sidenav-container">
      <mat-drawer
        #drawer
        [mode]="isLargeScreen ? 'over' : 'side'"
        [opened]="isLargeScreen ? isNavOpen : isShowDrawer || isSubmenuExist"
        fixedInViewport
        (mouseleave)="onMouseLeave()"
        (openedChange)="togglePanel($event)"
        (closed)="closeNav()"
      >
        <ul class="menu-large-screen">
          <li *ngFor="let menu of subMenuItems">
            <mat-accordion *ngIf="(menu.children ?? []).length > 0">
              <mat-expansion-panel
                [expanded]="menu.name === currentPath[1] ? true : false"
              >
                <mat-expansion-panel-header
                  [ngClass]="menu.name === currentPath[1] ? 'active' : ''"
                >
                  <mat-panel-title class="mat-title-small">{{
                    menu.title
                  }}</mat-panel-title>
                </mat-expansion-panel-header>
                <ul *ngIf="panelOpenState || menu.name === currentPath[1]">
                  <li *ngFor="let child of menu.children">
                    <a
                      class="mat-title-small child-menu"
                      [ngClass]="child.name === currentPath[2] ? 'active' : ''"
                      [routerLink]="[child.path]"
                      >{{ child.title }}</a
                    >
                  </li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
            <a
              class="mat-title-small child-menu"
              *ngIf="(menu.children ?? []).length === 0"
              [routerLink]="[menu.path]"
              [ngClass]="menu.name === currentPath[1] ? 'active' : ''"
              >{{ menu.title }}</a
            >
          </li>
        </ul>
        <div class="menu-small-screen main-menu">
          <ul *ngIf="!isSubmenuExist" @slideInOut>
            <li *ngFor="let option of menuItems">
              <button
                (click)="
                  handleRoute(
                    option.submenu.length === 0 ? option.path : '',
                    option.name
                  )
                "
                [ngClass]="currentPath[0] === option.name ? 'bg-theme' : ''"
              >
                <span>
                  <img src="{{ option.icon }}" alt="logo" loading="lazy" />
                  <p class="mat-title-small">{{ option.title }}</p>
                </span>
                <mat-icon *ngIf="(option.submenu ?? []).length > 0"
                  >arrow_forward</mat-icon
                >
              </button>
            </li>
          </ul>
          <ul *ngIf="isSubmenuExist" @slideInOut>
            <button
              (click)="goToMainMenu()"
              class="mat-title-small back-menu-btn"
            >
              <mat-icon>arrow_back</mat-icon>Main Menu
            </button>
            <li *ngFor="let menu of subMenuItems" class="submenu-items">
              <mat-accordion *ngIf="(menu.children ?? []).length > 0">
                <mat-expansion-panel
                  [expanded]="menu.name === currentPath[1] ? true : false"
                >
                  <mat-expansion-panel-header
                    [ngClass]="menu.name === currentPath[1] ? 'active' : ''"
                  >
                    <mat-panel-title class="mat-title-small">{{
                      menu.title
                    }}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul *ngIf="panelOpenState || menu.name === currentPath[1]">
                    <li *ngFor="let child of menu.children">
                      <a
                        class="mat-title-small child-menu"
                        [ngClass]="
                          child.name === currentPath[2] ? 'active' : ''
                        "
                        [routerLink]="[child.path]"
                        >{{ child.title }}</a
                      >
                    </li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
              <a
                class="mat-title-small child-menu"
                *ngIf="(menu.children ?? []).length === 0"
                [routerLink]="[menu.path]"
                [ngClass]="menu.name === currentPath[1] ? 'active' : ''"
                >{{ menu.title }}</a
              >
            </li>
          </ul>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
