<div class="box-wrapper">
  <img src="/images/logo.png" alt="logo" loading="lazy" />
  <h3 class="mat-headline-small">Patient Forms</h3>
  <p class="mat-body-large">
    United Health Partners has requested you complete the required patient forms prior to your upcoming appointment.
  </p>
  <div class="form-list-wrapper">
    <h3 class="mat-title-medium">To Do</h3>
    <ul>
      <li class="border1">
        <a [routerLink]="['/public/basic-information']">
          <div>
            <p class="mat-body-large">Patient Registration</p>
            <p class="mat-body-medium">4 steps</p>
          </div>
          <mat-icon>arrow_right</mat-icon>
        </a>
      </li>
      <li class="border1">
        <a>
          <div>
            <p class="mat-body-large">Medicare Copayment</p>
            <p class="mat-body-medium">4 steps</p>
          </div>
          <mat-icon>arrow_right</mat-icon>
        </a>
      </li>
      <li class="border1">
        <a>
          <div>
            <p class="mat-body-large">Patient Admission and Consent</p>
            <p class="mat-body-medium">4 steps</p>
          </div>
          <mat-icon>arrow_right</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
