.main-layout {
  padding: 8px 0px 8px 8px;
  .sidenav-container {
    height: calc(100vh - 16px);
    background-color: transparent;
    mat-drawer {
      background-color: white;
      width: 256px;
      border-radius: 8px;
      nav {
        background: white;
        height: calc(100vh - 48px);
        border-radius: 8px;
        padding: 16px;
        img {
          margin-bottom: 16px;
        }
        ul {
          min-height: calc(100% - 106px);
          li {
            margin-top: 4px;
            .nav-menu {
              padding: 16px;
              display: block;
              border-radius: 100px;
              transition: background-color 0.6s linear;
              &:hover {
                background: linear-gradient(
                  0deg,
                  rgb(77 66 86 / 8%),
                  rgb(77 66 86 / 8%)
                );
              }
            }
          }
        }
      }
    }
    mat-drawer-content {
      padding-right: 8px;
    }
  }
  .back-btn {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    gap: 4px;
    mat-icon {
      font-size: 16px;
      width: 18px;
      height: 18px;
    }
  }
  ::ng-deep .main-content {
    border-radius: 8px;
    overflow: hidden;
    margin-left: 6px;
    .content-layout {
      background: white;
      min-height: calc(100vh - 152px);
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .header {
        border-bottom: 1px solid #e7e0ec;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .sub-title {
        border-bottom: 1px solid #e7e0ec;
        padding-bottom: 16px;
      }
    }
  }
}

.non-nav-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px );
  padding: 20px;
}
