<div class="main-layout" *ngIf="showNavigation">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer
      #drawer
      [mode]="isLargeScreen ? 'over' : 'side'"
      [opened]="isLargeScreen ? isNavOpen : true"
      (closed)="menuClosed()"
      fixedInViewport
    >
      <nav>
        <a [routerLink]="['/']">
          <img src="/images/logo.svg" alt="logo" loading="lazy" />
        </a>
        <ul>
          <li *ngFor="let option of routes">
            <a
              class="mat-title-small nav-menu"
              [routerLink]="[option.path]"
              [ngClass]="currentPath[1] === option.name ? 'active' : ''"
              >{{ option.title }}</a
            >
          </li>
        </ul>
        <button mat-button class="back-btn" (click)="openDialog()">
          <mat-icon>arrow_back</mat-icon>Table of contents
        </button>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="main-content" [ngClass]="isLargeScreen ? 'ml-0' : ''">
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
        ></mat-progress-bar>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div class="non-nav-layout" *ngIf="!showNavigation">
  <router-outlet></router-outlet>
</div>
