<div class="main-layout" *ngIf="showNavigation">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer
      #drawer
      [mode]="isLargeScreen ? 'over' : 'side'"
      [opened]="isLargeScreen ? isOpen : true"
      fixedInViewport
    >
      <nav>
        <a [routerLink]="['/']">
          <img src="/images/logo.png" alt="logo" loading="lazy" />
        </a>
        <ul>
          <li *ngFor="let option of routes">
            <a
              class="mat-title-small nav-menu"
              [routerLink]="[option.path]"
              [ngClass]="currentPath[1] === option.name ? 'active' : ''"
              >{{ option.title }}</a
            >
          </li>
        </ul>
        <a class="mat-label-large back-btn">
          <mat-icon>arrow_back</mat-icon>Table of contents
        </a>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="main-content" [ngClass]="isLargeScreen ? 'ml-0' : ''">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div class="non-nav-layout" *ngIf="!showNavigation">
  <router-outlet></router-outlet>
</div>
