.box-wrapper {
  background-color: white;
  width: 528px;
  padding: 32px 24px;
  border-radius: 16px;
  img {
    margin-bottom: 32px;
  }
  > p {
    margin-top: 6px !important;
  }
  .field-wrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}