<div class="box-wrapper" *ngIf="!accessDenied && !limitExceed">
  <mat-progress-bar
    mode="indeterminate"
    style="position: absolute; top: 0px; left: 0px"
    *ngIf="loading"
  ></mat-progress-bar>
  <img src="/images/logo.svg" alt="logo" loading="lazy" />
  <div>
    <h3 class="mat-headline-small">Verify your Identity</h3>
    <p class="mat-body-large">
      Please confirm your personal information to gain access to patient forms.
    </p>
    <div class="field-wrapper">
      <p class="mat-body-large">
        Patient forms must be completed prior to your appointment.
      </p>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Name *</mat-label>
        <input matInput [disabled]="loading" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [disabled]="loading" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Last 4 Digits of Social Security </mat-label>
        <input matInput [disabled]="loading" />
      </mat-form-field>
      <div class="item-align-right">
        <button
          mat-flat-button
          (click)="submitPatientInfo()"
          [disabled]="loading"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<app-access-denied
  *ngIf="accessDenied || limitExceed"
  [description]="descriptionContentAccessDenied"
  [showButton]="accessDenied"
></app-access-denied>
